* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


@font-face {
		font-family: 'districtregular';
		src: url('../fonts/distth__-webfont.eot');
		src: url('../fonts/distth__-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/distth__-webfont.woff') format('woff'),
			 url('../fonts/distth__-webfont.ttf') format('truetype'),
			 url('../fonts/distth__-webfont.png#districtregular') format('png');
		font-weight:normal;
		font-style: normal;
	}

/* reset */
body, div, p, h1, h2, a, span, img, ul, li { margin: 0; padding: 0; }
ul { list-style: none; }


/* general */
html, body {
	width: 100%;
	height: 100%;
}
html {
	color: #fff;
}
body {
	background:#000;
	font-size: 100%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a, a img {
	border: none;
}
img, object, embed {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5 {font-family: "Open Sans"; font-weight: 300;}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* metro layout */
.metro-layout {
	position: relative;
	width: 100%;
	z-index: 2;
	background: rgba(255,255,255,0.7);

	min-height: 100%;
	/*height: auto !important;*/
}

	/* Header */
	.metro-layout .header {
		width: 950px;
		margin: 0px auto;
		height: auto;
		right:0px;
		position: relative;
	}
		.metro-layout .header h1 {
			margin: 20px;
			font-size: 45px;
			line-height: 55px;
			display: inline-block;
		}
		.metro-layout .header h1 span.back{
			display: inline-block;
			background: transparent url("../images/page-back.png") no-repeat center center;
			width: 35px;
			height: 35px;
			margin-right: 10px;
			cursor: pointer;
			border: 3px solid #fff;
			-webkit-border-radius: 100%;
			border-radius: 100%;

		}
		.metro-layout .header small{
			display: block;
			padding-left: 20px;
		}


	/* Content */
	.metro-layout .content {
		overflow: hidden;
		height: 100%;
		width: 950px;
		margin: 0px auto;
	}
	.metro-layout .content.dashboard{
		height: 100%;
	}

		.metro-layout .content .items {
			padding: 0 20px;
			position: relative;
			overflow: hidden;
			width: 800px;
			height: 100%;
			margin: 0px auto;
		}

		.metro-layout .content .items.page-show{
			width: 120px!important;
			float: left;
		}

		.horizontal .content .items {
			height: 97%;
		}
		.vertical .content .items {
			padding-bottom: 20px;
		}

		/* Boxes */
		.metro-layout .box {
			float: left;
			position: relative;
			margin: 15px;
			width: 220px;
			height: 190px;
			text-decoration: none;
			cursor: pointer;
			overflow: hidden;
			color: #fff;
			background: #00a8ec;
			z-index: 9;
			opacity: 0.75;
		}
		.metro-layout .box:hover {
			opacity: 0.95;
			transform: scale(1.05);
			-ms-transform: scale(1.05);
			-webkit-transform: scale(1.05);
		}
			.metro-layout .box span {
				position: absolute;
				left: 0.5em;
				bottom: 0.5em;
				font-size: 1em;
				font-weight: normal;
				z-index: 8;
			}
			.metro-layout .box img.icon {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -32px;
				margin-top: -32px;
				 z-index: 7;
			}
			.metro-layout .box img.icon.icon-big{
				margin-left: -128px;
				margin-top: -128px;
			}
			.metro-layout .box img.icon.icon-medium{
				margin-left: -64px;
				margin-top: -64px;
			}
			.metro-layout .box img.cover {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: 6;
			}
			.metro-layout .width2 {
				width: 470px;
			}
			.metro-layout .width3 {
				width: 49em;
			}
			.metro-layout .width4 {
				width: 66em;
			}
			.metro-layout .height2 {
				height: 18em;
			}
			.metro-layout .height3 {
				height: 28em;
			}
			.metro-layout .height4 {
				height: 38em;
			}
			.metro-layout .height5 {
				height: 4em;
			}


.view{
	float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}
.view .mask{
	background: #7EAC10;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.view-image .mask {
    opacity: 0;
}
.view-image:hover .mask {
    opacity: 1;
	cursor: pointer;
}

.view-image h4 {
    color: #FFFFFF;
    left: 20px;
    letter-spacing: -0.3px;
    line-height: 40px;
    position: relative;
    top: 10px;
    width: 90%;
}
.view-image p{
	color: #FFFFFF;
    left: 20px;
    position: relative;
    top: 20px;
    width: 90%;
	float: left;
	font-size: 14px;
}
.mask .post-date {
	margin-top:5px;
	font-size:11px;
}
.post-link {
	margin-top:10px;
}

.post-tags {
    bottom: 20px;
    left: 20px;
    position: absolute;
}
p.post-tag {
    background: rgba(255, 255, 255, 0.2);
    float: left;
    left: 0;
    line-height: 12px;
    margin-right: 10px;
    padding: 6px;
    top: 0;
    width: auto;
	font-size: 13px;
}

.post-details{
	float: left;
    margin-top: 20px;
}
h4{
	font-size: 24px;
    font-weight: lighter;
    line-height: 24px;
	margin: 0px;
}
.post-details p {
    color: #fff;
    left: 0;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
	font-size: 13px;
}
.news a {
    color: #000;
}
.news a:hover {
    text-decoration: none;
}
.news a.read-more {
    display: block;
    text-decoration: none;
	background: url("../images/list-arrow.png") no-repeat scroll 0 50% transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 18px;
}


/* PAGES */
.page-content{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	padding: 10px 25px;
}
	.page-content .page{
		overflow: visible;
		display: none;
		height: 100%;
	}

/* News */
ul.news li, ul.portfolio li{
	margin: 2%;
    width: 29%;
	float: left;
}
	ul.news li img, ul.portfolio li img{
		display: block;
    	height: auto;
    	width: 100%;
	}



/* Portfolio */

article.portfolio{
	position: relative;
	float: left;
	width: 180px;
	height:210px;

	padding: 0px;
	margin: 5px;

	cursor: pointer;

	-webkit-box-shadow:  1px 1px 4px 0px #000000;
    box-shadow:  1px 1px 4px 0px #000000;
	background: #fff;
}
article.portfolio.width2{
	width: 430px;
}

	article.portfolio .img-container{
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;

		overflow: hidden;
	}
		article.portfolio .img-container .img-scroller{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;

			-webkit-transition: top 0.2s linear;
	       	-moz-transition: top 0.2s linear;
	        -ms-transition: top 0.2s linear;
	         -o-transition: top 0.2s linear;
	            transition: top 0.2s linear;
		}
			article.portfolio .img-container .img-scroller img{
				display: block;
				width: 100%;
			}

	article.portfolio .title{
		color: transparent;
		z-index: 1;
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    padding: 0px 5px;
		font-size: 14px;
	    line-height: 26px;
	    height: 30px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    -webkit-transition: bottom 0.2s linear;
	       -moz-transition: bottom 0.2s linear;
	        -ms-transition: bottom 0.2s linear;
	         -o-transition: bottom 0.2s linear;
	            transition: bottom 0.2s linear;
	}
	article.portfolio:hover .title{
		bottom: -25px;
		background: #fff;
		color: #666;
	}

article.portfolio:hover{
	/*margin-top: -7px;
	height: 230px;
	width: 250px;
	margin-left: -14px;*/
	transform: scale(1.1);
	z-index: 999;
}
article.portfolio.width2:hover{
	/*width: 470px;
	margin-top: -4px;*/
	transform: scale(1.05);
}



article.portfolio .prev, article.portfolio .next{
	height: 24px;
    margin-top: -12px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s linear 0s;
    width: 24px;
    z-index: 6;
}
article.portfolio .next{
	right: -24px;
}
article.portfolio .prev{
	left: -24px;
}

article.portfolio .prev{
	background: transparent url("../images/back.png") no-repeat center center;
}
article.portfolio .next{
	background: transparent url("../images/next.png") no-repeat center center;
}
article.portfolio:hover .prev{
	opacity:1;
	left: 14px;
}
article.portfolio:hover .next{
	opacity:1;
	right: 10px;
}


/* About */
h2.about {
	text-shadow: 1px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}
h3.about{
	font-weight: lighter;
	font-size: 40px;
	line-height: 40px;
	text-shadow: 1px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

hr{
	color: #EBEBEB;
    height: 1px;
    margin: 20px 0;
}

div.one_one{
	margin-bottom: 60px;
    position: relative;
	width: 100%;
}

div.one_two{
	float: left;
    margin-bottom: 20px;
    margin-right: 6%;
    position: relative;
	width: 47%;
}

div.one_third{
	float: left;
    margin-bottom: 20px;
    margin-right: 4%;
    position: relative;
	width: 30.5%;
}
	div.one_third h2, div.one_one h2, div.one_two h2{
		font-size: 30px;
    	font-weight: lighter;
    	line-height: 36px;
		margin-bottom: 20px;
	}
	div.one_third p, div.one_two p, div.one_one p{
		font-size: 15px;
	}

	.testimonial{
		padding-bottom: 30px;
	}

	 .testimonial blockquote:before {
    	content: url("../images/testimonials.png");
    	left: 0;
    	position: absolute;
    	top: 0;
	}
	.testimonial blockquote{
		padding-left: 36px;
    	position: relative;
    	font-family: Georgia,"Times New Roman",Times,serif;
    	font-style: italic;
	}
	.testimonial p strong{
		margin-left: 75px;
	}

div.one_third p {
	margin-bottom: 10px;
}

#page-about p{
	line-height: 30px;
}
#page-about ul li{
	line-height: 25px;
}

#page-about ul{
	margin-bottom: 15px;
	padding-left: 30px;
}
	#page-about ul li{
		list-style: disc;
		font-size: 13px;
	}

.meter {
    background: none repeat scroll 0 0 #EBEBEB;
    height: 30px;
    margin: 0 0 15px;
    position: relative;
    width: 100%;
}
	.meter > span {
	    background-color: #C85141!important;
	    display: block;
	    height: 100%;
	}

div.no-margin-right, input[type="text"].no-margin-right{
    margin-right: 0;
}


div.overflow{
	display: none;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}



/* Contact Form */
.contact-header {
    background-color: #EAEAEA;
	border-top:1px solid #CCC;
    color: #555555;
    padding: 20px 40px;
}

span.action{
	clear: both;
	display: block;
}

.one_fourth p{
	margin-bottom: 20px;
}
.one_fourth strong.black{
	line-height: 23px;
	font-size: 18px;
}
.one_fourth{
	color: #fefefe;
}


span.contact-message{
	display: block;
	clear: both;
	margin: 0px 0px 10px;
	background: #50B28A;
	border: 1px solid #57A801;
	border-left-width: 3px;
	padding: 10px 15px;
}

.contact-content {
    padding: 20px 0px 0px;
}

.one_fourth, .three_fourth{
	float: left;
    margin-bottom: 20px;
    margin-right: 4%;
    position: relative;

}
.one_fourth{
	width: 22%;
}
.three_fourth{
	width: 74%;
}


input[type="text"]{
	background-color: #F1F1F1;
    color: #666;
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-top: 5px;
	margin-left: 0px;
    padding: 10px 2%;
    transition: background 0.3s ease-in-out 0s;
    width: 32%;
    border: 0 none;
    outline: 0 none;
}
textarea{
	background-color: #F1F1F1;
    color: #666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 110px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 2%;
    resize: none;
    transition: background 0.3s ease-in-out 0s;
    width: 100%;

	border: 0 none;
	outline: 0 none;
}

input.incorrect, textarea.incorrect{
	border: 1px solid #ff0000;
}

input[type="button"],
input[type="submit"] {
	color: #FFFFFF;
    font-family: 'districtregular','arial';
    font-size: 24px;
    line-height: 24px;
    opacity: 0.8;
    padding: 12px 15px;
	background: none repeat scroll 0 0 #50B28A;
	border: 0 none;
	outline: 0 none;
	clear: both;
	cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover {
	color: #FFFFFF;
    opacity: 1;
}
input[type="button"]:active,
input[type="submit"]:active {
	color: #FFFFFF;
	opacity: 1;
}


a.box.animation {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
       -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -ms-transition: opacity 0.3s, -ms-transform 0.3s;
         -o-transition: opacity 0.3s, -o-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
}

a.box.unloaded {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
         -o-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}

/* Player */
.ytplayer{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -99;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.player-controls{
	z-index: 3;
	width: 155px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
}


.player-controls .play-pause{
	float: left;
	-webkit-border-radius: 30px;
    border-radius: 30px;

	border: 3px solid rgba(255,255,255,0.6);
	width: 44px;
	height: 44px;

	cursor: pointer;
	opacity: 0.6;
}
	.player-controls .play-pause.pause{
		background: transparent url('../images/pause.png') center center no-repeat;
	}
	.player-controls .play-pause.play{
		background: transparent url('../images/play.png') center center no-repeat;
	}

.player-controls .minus, .player-controls .plus{
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	-webkit-border-radius: 30px;
    border-radius: 30px;
	width: 34px;
	height: 34px;
	cursor: pointer;
	opacity: 0.6;

	border: 3px solid rgba(255,255,255,0.6);
}
	.player-controls .minus{
		background: transparent url('../images/minus.png') center center no-repeat;
	}
	.player-controls .plus{
		background: transparent url('../images/plus.png') center center no-repeat;
	}



.lightbox{
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	z-index: 9501;
	background: #fff;
	padding: 5px;
	overflow: auto;
	max-height: 100%;
}
	.lightbox .close{
		cursor: pointer;
		background: transparent url('../images/close.png') center center no-repeat;
		float: right;
		width: 76px;
		height: 22px;
	}
	.lightbox .img-content{
		position: relative;
		height: 450px;
		width: 100%;
	}
		.lightbox .img-content .img-container{
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;

			overflow: hidden;
		}
			.lightbox .img-content .img-container .img-scroller{
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;

				-webkit-transition: top 0.2s linear;
		       	-moz-transition: top 0.2s linear;
		        -ms-transition: top 0.2s linear;
		         -o-transition: top 0.2s linear;
		            transition: top 0.2s linear;
			}
				.lightbox .img-content .img-container .img-scroller img{
					display: block;
					width: 100%;
				}

		.lightbox .img-content .img-container .prev, .lightbox .img-content .img-container .next{
			position: absolute;
			width: 80px;
			height: 80px;
		    margin-top: -40px;
			opacity: 0;
		    top: 50%;
		    z-index: 6;
		}
		.lightbox .img-content .img-container .next{
			background: #fff url("../images/sprite_next.png") no-repeat center center;
			right: -1px;
		}
		.lightbox .img-content .img-container .prev{
			left: -1px;
			background: #fff url("../images/sprite_prev.png") no-repeat center center;
		}
		.lightbox .img-content:hover .img-container .next, .lightbox .img-content:hover .img-container .prev{
			opacity: 1;
		}

	.lightbox .text-content{
		color: #333;
		padding: 10px;
	}
		.lightbox .text-content h4{
			padding-bottom: 10px;
		}
		.lightbox .text-content a{
			color: #333;
		}
		.lightbox .text-content a:hover{
			text-decoration:none;
		}
			.lightbox .text-content h4 span{
				float: right;
				font-size: 13px;
			}
		.lightbox .text-content p{
			font-size: 13px;
		}



.overlay{
	background: rgba(255,255,255,0.7);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	height: 100%;
    z-index: 9500;
}


#map_canvas{
	height: 400px;
	width: 100%;
}


@media only screen
and (max-width : 1224px) {
	ul.news li, ul.portfolio li{
		width: 45%;
		margin: 2.5%;
	}
}

@media only screen
and (max-width : 1000px){
div.one_third{
		border-bottom: 1px solid #EBEBEB;
	    margin-bottom: 50px;
	    padding-bottom: 50px;
		margin-right: 0;
		width: 100%;
	}

	.one_fourth, .three_fourth{
		width: 100%;
		margin-right: 0px;
	}

	.one_fourth p{
		float: left;
		margin-right: 10px;
	}

	.metro-layout .header{
		width: 100%;
	}
	.metro-layout .content{
		width: 100%;
	}
}

@media only screen
and (max-width : 768px) {
	ul.news li, ul.portfolio li{
		width: 100%;
		margin: 0px 0px 25px;
	}

	.metro-layout .header h1{
		padding-right: 75px;
		margin: 10px 10px 5px 10px;
	}
	.metro-layout .header small{
		padding-left: 10px;
		padding-right: 75px;
	}
	.player-controls{
		width: 80px;
		top: 0px;
		right: 0px;
	}
		.player-controls .play-pause{
			position: absolute;
			top: 5px;
			right: 28px;
		}
		.player-controls .minus{
			position: absolute;
			top: 45px;
			right: 46px;
		}
		.player-controls .plus{
			position: absolute;
			top: 45px;
			right: 0px;
		}

	.metro-layout .header.mobile h1, .metro-layout .header.mobile small{
		padding-right: 0px;
	}

	.metro-layout .header.mobile .player-controls{
		display: none;
	}


	.metro-layout .content .items{
		width: 100%;
	}
	.metro-layout .box{
		width: 30.5%;
		margin: 1.25%;
	}
	.metro-layout .width2{
		width: 64.5%;
	}


}

@media only screen
and (max-width : 650px){
	.metro-layout .box, .metro-layout .width2{
		width: 47.5%;
	}
}

@media screen and (max-width: 480px){
	.metro-layout .box, .metro-layout .width2{
		width: 100%;
		margin: 1% 0%;
	}

	.page-content{
		padding: 5px;
	}
	.metro-layout .content .items{
		padding: 0px;
	}

	#map_canvas{
		height: 200px;
	}

	#map_canvas iframe{
		height: 200px;
	}
}
